# GameMaker lock and temp files
*.yy.lock
*.yyp.lock
*.suo
*.user
*.userprefs
*.cache
*.db
*.log
*.tmp

# Compiled binaries and output
/built/
/build/
/bin/
/obj/
/__output/

/runtime/
*.dll
*.exe
*.dmg

# OS-specific
.DS_Store
Thumbs.db

# Git config tools
.idea/
.vscode/
*.code-workspace

#OTHER
all_gml_files.txt
